.footer{
    border: none;
}

.header{
    font-size: 25px;
    background-color: #fafafa;
    color: #333;
    border: none;
}

.body{
    background-color: #fafafa;
}

a{
    display: inline-block;
}

.imgContato{
    width: 30px;
    background-color: #fff;
}



