.masthead {
    width: 100%;
}

.inner {
    padding: 30px;
}
.inner {
    color: black;
    text-align: center;
    text-shadow: 0 1px 3px rgba(255,255,255,.5);
}

.masthead-brand {
    float: left;
}
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav {
    float: right;
}

h3{
    margin-left: 70px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 60px;
}

.masthead-nav > li {
    display: inline-block;
}
.nav>li {
    position: relative;
    display: block;
}

.masthead-nav > li + li {
    margin-left: 20px;
    
}
.masthead-nav > li {
    display: inline-block;
}

a{
    color: black !important;
    font-size: 22px;
    text-align: center;
    text-shadow: 0 1px 3px rgba(255,255,255,.5);
}